.table {
  border: 2px solid black;
  margin: 50px auto;
  width: 600px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table_thead {
  background-color: rgb(60, 58, 58);
  font-size: 20px;
  color: white;
  height: 50px;
}

.table_td {
  font-size: 24px;
  border: 2px solid black;
  height: 30px;
  text-align: center;
}

.table_tr:nth-child(even) {
  background-color: rgb(149, 148, 145);
}
